/*

This is a place for us to stash css and have it under revision control.

*/

.ajaxloader{
  display:none;
}

#facebook_h {
        margin-top:8px;
        float:left;
        width:250px;
        height:55px;
        }
        
#twitter_h {
        margin-top:8px;
        padding:17px 0 0 95px;
        float:right;
        width:250px;
        height:55px;
        background:none;
        }

@media (max-width: 767px) {
.logo {
  float:none;
  text-align:center;
}
#facebook_h { display:none; }
#twitter_h { display:none; }
}
 
