/*

This is a place for us to stash css and have it under revision control.

*/


.logo {
  float:left;
  text-align:center;
  margin: 0 auto 15px;
  width:1.48in;
  height:2in; 
}

.ajaxloader{
  display:none;
}

#facebook_h {
        margin-top:140px;
        width:250px;
        height:55px;
        }
        
#facebook_h img{
  height:55px;
}
        
#twitter_h {
        margin-top:140px;
        padding:0;
        width:250px;
        height:55px;
        background:none;
        }

#facebook_h { 
  display:inline-block;
  margin-top:20px;
  margin-left:15px;
}
#twitter_h { 
  display:inline-block; 
  margin-top:20px;
  float:none;
}

@media (min-width: 432px) {
.logo {
  margin: 0 0 15px;
}
  
}
  
}


@media (min-width: 1200px) {
  #twitter_h{
    margin-top: 65px;
    float:right;
  }
  #facebook_h{
    margin-top: 65px;
    float:right;
  }
}

